body{
	margin: 0;
	padding: 0;
	background-image: url("picture.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}	
.header{
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	background-color: black;
	height: 80px;
	display: flex;
	align-items: center;
}
.header p{
	margin-left: auto;
	margin-right: 30px;
	text-align: right;
	color: white;
	font-family: 'Tahoma', sans-serif;
}
.header img{
	margin-left: 20px;
	width: 50px;
	float: left;
	position: relative;
}
.header .back{
	transition: filter 0.3s ease-in-out;
}
.header .back:active {
  filter: brightness(0) invert(1);
}
#title{
	margin-top: 300px;
	margin-left: 50px;
	font-size: 170px;
	font-family: 'Trebuchet MS', sans-serif;
}
#desc{
	margin-top: -180px;
	margin-left: 50px;
	font-size: 40px;
	font-family: 'Trebuchet MS', sans-serif;
}
#explore{
	margin-top: 0px;
        margin-left: 50px;
	width: 220px;
        padding: 50px;
        border-radius: 40px;
	color: white;
        background-color: black;
        font-size: 50px;
        font-family: 'Trebuchet MS', sans-serif;
}
